
body
{
  margin-top: 0px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-color: lightblue;
  padding: 10pt;
}
#searchlabel {

  padding: 5pt;
  font-family: "Century Gothic";
  font-size: medium;
  width: fit-content;
}
