body{
  font-size: large;
  font-family: "Century Gothic";
  background-color: lightblue;
  line-height : 24px;
  width: fit-content;
  padding: 10pt;
  margin:0px;
  border-top-left-radius: 5pt;
  border-top-right-radius: 5pt;
}
