
  <table>
  <th >Ticket Number</th><th>Status</th><th>Assigned To</th><th>Description</th><th>Creation Time</th>

    <tr *ngFor="let ticket of ticketSummary; let i =index"><td>{{ ticket.ticketNumber }}</td><td>{{ ticket.status }}</td><td>{{ ticket.assignedTo.name }}</td> <td>{{ ticket.description }}</td><td>{{ ticket.creationTime }}</td></tr>

  </table>

<!--<div-->
  <!--*ngFor="let department of searchResults; let i = index"-->
<!--&gt;-->
  <!--<p id="result" href="#" (click)="onClick(department)">{{ department.departmentName }}</p>-->
<!--</div>-->
