
table{
  font-size: small;
  font-family: "Century Gothic";
  border-right: 1px solid ;
  border-left: 1px solid ;
  border-top: 1px solid ;
  border-bottom: 1px solid ;
  border-color: lightblue;
  padding: 3pt;
}
tr{
  border-right: 1px solid lightblue;
  border-left: 1px solid lightblue;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  border-color: lightblue;
  padding: 3pt;
}
th{
  padding: 3pt;
  border-bottom: 1px solid lightblue;
  border-right: 1px solid lightblue;

}
