.ticketinginput{
  padding: 5pt;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-color: lightblue;
  background-color: aliceblue;
  border-radius: 2pt;
}

#result{
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-color: lightblue;
  padding: 10pt;
  font-family: "Century Gothic";
  font-size: medium;
  width: fit-content;
  margin: 2pt;
}
#result:hover{
  cursor: pointer;
}
