<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<body>
<input type="text" placeholder="enter department name here.." (keyup)="searchDepartmentsWithName($event.target.value)" class="ticketinginput" />
<div
*ngFor="let department of searchResults; let i = index"
>
  <p id="result" href="#" (click)="onClick(department)">{{ department.departmentName }}</p>
</div>
</body>
